@{
    ViewData["Title"] = "Done";
}
<div>
    <img src="~/Images/Vertict.svg" alt="img" />
    <a asp-area="" asp-action="SendMessage" asp-controller="Notifcation" class="btn btn-danager">Back</a>
</div>