@{
    ViewData["Title"]="ChatDemo";
}
<section class="d-flex justify-content-between">
    <div class="row w-100">
        <form class="col-md-6 w-100">
            <div class="form-group">
                <label class="form-label">User:</label>
                <input type="text" class="form-control" id="txtUser" required />
            </div>
            <div class="form-group mt-3">
                <label class="form-label">Message:</label>
                <textarea cols="10" rows="10" class="form-control" id="txtMessage" required></textarea>
            </div>
            <div class="from-group mt-3">
                <input type="submit" class="btn btn-primary" id="btnSendMessage" />
            </div>
        </form>
    </div>
    <div class="w-100">
        <div class="row w-100">
            <ul id="messagesList" class="col-md-6" style="list-style-type:none;text-align:start;margin-left: 50px;">
            </ul>
        </div>
    </div>
</section>
