


<li class="nav-item">
    <div class="icon" id="bell">
        <img style="width:33px;cursor:pointer" id="img" src="~/Images/NotifcationIcon.svg" alt="">
        <span id="val">2</span>
    </div>
    <div class="notifications" id="box">
        <div class="notifications-item">
            <div class="text">
                <p>Samso Nagaro Like your home work</p>
            </div>
        </div>
        <div class="notifications-item">
            <div class="text">
                <p>+20 vista badge earned</p>
            </div>
        </div>
    </div>

</li>
